In [2]:
import pandas as pd

dataset:

https://www.kaggle.com/datasets/davidcariboo/player-scores/data

In [3]:
df_appearances = pd.read_csv("../../data/football/raw/appearances.csv", low_memory=False)
df_players = pd.read_csv("../../data/football/raw/players.csv")
df_appearances_backup = df_appearances.copy()

In [4]:
df_appearances

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1692985,4547690_69633,4547690,69633,985,985,2025-03-06,Christian Eriksen,EL,0,0,0,0,12
1692986,4547690_811779,4547690,811779,985,985,2025-03-06,Alejandro Garnacho,EL,0,0,0,1,78
1692987,4547690_907813,4547690,907813,681,681,2025-03-06,Pablo Marín,EL,0,0,0,0,27
1692988,4547690_923831,4547690,923831,985,985,2025-03-06,Leny Yoro,EL,0,0,0,0,88
1692989,4547690_926952,4547690,926952,985,985,2025-03-06,Patrick Dorgu,EL,0,0,0,0,90

In [5]:
df_players

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32583,1369057,Yusuf,Kurt,Yusuf Kurt,2024,11282,yusuf-kurt,Türkiye,Batman,Türkiye,...,left,186.0,2025-06-30 00:00:00,NaN,https://tmssl.akamaized.net//images/portrait/h...,https://www.transfermarkt.co.uk/yusuf-kurt/pro...,TR1,Alanyaspor,NaN,NaN
32584,1375876,NaN,Diego Henrique,Diego Henrique,2024,86209,diego-henrique,Brazil,"Andradina, SP",Brazil,...,left,170.0,2026-06-30 00:00:00,NaN,https://tmssl.akamaized.net//images/portrait/h...,https://www.transfermarkt.co.uk/diego-henrique...,UKR1,FK Livyi Bereh,NaN,NaN
32585,1378362,Orseer,Achihi,Orseer Achihi,2024,1096,orseer-achihi,NaN,NaN,Nigeria,...,NaN,NaN,2029-06-30 00:00:00,Aneke/PMG,https://tmssl.akamaized.net//images/portrait/h...,https://www.transfermarkt.co.uk/orseer-achihi/...,BE1,Royal Antwerp Football Club,NaN,NaN
32586,1380311,Prince Amoako,Junior,Prince Amoako Junior,2024,2778,prince-amoako-junior,NaN,NaN,Ghana,...,NaN,NaN,2029-12-31 00:00:00,CAA Stellar,https://tmssl.akamaized.net//images/portrait/h...,https://www.transfermarkt.co.uk/prince-amoako-...,DK1,Fodbold Club Nordsjælland,NaN,NaN
32587,1380876,Gabriel Jesus,David,Gabriel Jesus David,2024,1096,gabriel-jesus-david,NaN,NaN,Nigeria,...,NaN,NaN,2025-06-30 00:00:00,Aneke/PMG,https://tmssl.akamaized.net//images/portrait/h...,https://www.transfermarkt.co.uk/gabriel-jesus-...,BE1,Royal Antwerp Football Club,NaN,NaN

# Data Cleaning

This code checks count of the missing value in each data Frame specifically and return it and also gets the percentage

In [6]:
def print_columns_with_missing_values(df, df_name):
    missing_values = df.isnull().sum()
    total_rows = df.shape[0]
    missing_percentage = (missing_values / total_rows) * 100
    missing_data = pd.DataFrame({
        'Column': df.columns,
        'Missing Values': missing_values,
        'Missing Percentage': missing_percentage
    })

    missing_data = missing_data.sort_values(by='Missing Percentage', ascending=False)
    print(f"Columns with the most missing values in {df_name}:")
    print(missing_data.head())

print_columns_with_missing_values(df_appearances, 'df_appearances')
print_columns_with_missing_values(df_players, 'df_players')

Columns with the most missing values in df_appearances:
                        Column  Missing Values  Missing Percentage
player_name        player_name               6            0.000354
appearance_id    appearance_id               0            0.000000
game_id                game_id               0            0.000000
player_id            player_id               0            0.000000
player_club_id  player_club_id               0            0.000000
Columns with the most missing values in df_players:
                                            Column  Missing Values  \
agent_name                              agent_name           16052
contract_expiration_date  contract_expiration_date           12098
country_of_birth                  country_of_birth            2809
foot                                          foot            2540
city_of_birth                        city_of_birth            2465

                          Missing Percentage
agent_name                         49.257395
contract_expiration_date           37.124095
country_of_birth                    8.619737
foot                                7.794280
city_of_birth                       7.564134

Since we are not going to use this column and it has 50% of missing values and it cannot be predicted we are going to drop it ("agent_name").

In [7]:
df_players = df_players.drop(columns=['agent_name'])

Drop missing values from each DataFrame

In [8]:
df_appearances = df_appearances.dropna()
df_players = df_players.dropna()

In [9]:
df_appearances_no_duplicates = df_appearances.drop_duplicates(keep='first')

In [10]:
df_players_no_duplicates = df_players.drop_duplicates(keep='first')

Drop the columns that we are not going to use in players csv

In [11]:
df_players = df_players.drop(columns=['image_url'])
df_players = df_players.drop(columns=['url'])
df_players = df_players.drop(columns=['country_of_birth'])
df_players = df_players.drop(columns=['city_of_birth'])
df_players = df_players.drop(columns=['player_code'])

Drop the columns that we are not going to use in appearances csv

In [12]:
df_appearances = df_appearances.drop(columns=['appearance_id'])
df_appearances = df_appearances.drop(columns=['game_id'])
df_appearances = df_appearances.drop(columns=['yellow_cards'])
df_appearances = df_appearances.drop(columns=['red_cards'])

# Data Integration

In [13]:
# Merge df_appearances with df_players based on player_id
df_integrated = df_appearances.merge(df_players, on='player_id', how='left')

print("Shape of df_integrated:", df_integrated.shape)
df_integrated.head()

Shape of df_integrated: (1692984, 25)

,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,goals,assists,minutes_played,first_name,...,date_of_birth,sub_position,position,foot,height_in_cm,contract_expiration_date,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,2,0,90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,90,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,45,Sander,...,1988-05-07 00:00:00,Central Midfield,Midfield,right,177.0,2023-12-31 00:00:00,SC1,Saint Mirren Football Club,100000.0,600000.0
3,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,90,Vegar,...,1991-06-26 00:00:00,Right-Back,Defender,right,178.0,2024-12-31 00:00:00,TR1,Fatih Karagümrük,350000.0,1500000.0
4,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,1,90,Markus,...,1992-07-25 00:00:00,Centre-Back,Defender,right,187.0,2024-12-31 00:00:00,GB1,Hull City,800000.0,5000000.0

Removing the null rows from the intgrated csv

In [14]:
# Remove rows with null values
df_integrated_no_null = df_integrated.dropna()

# Print the shape before and after removing null values
print(df_integrated.shape)
print(df_integrated_no_null.shape)

(1692984, 25)
(1054290, 25)

In [15]:
df_integrated.to_csv('../../data/football/processed/football_combined.csv')